*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
a{
    text-decoration: none;
    color: inherit;
}

body , html{
    font-family: "latto" , sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}