
@use "../../styles/responsiveness.scss";

.navbar{
    display: flex;
    align-items: center;
    background-color: #10153d;
    color: white;
    height: 150px;
    
    .left{ 

        flex: 1;

        @include responsiveness.medium{
            flex: 0.5;
        }


        .brand{
            display: flex;
            align-items: center;
            gap: 40px;
            margin-left: 40px;

            @include responsiveness.small{
                gap: 10px;
                margin-left: 20px
            };

            @include responsiveness.medium{
                margin-left: 20px;
            }

            @include responsiveness.large{
                margin-left: 30px;
            }


            span{
                font-weight: bold;
                font-size: 18px; 

                @include responsiveness.small{
                    font-size: 12px;
                }
                
                @include responsiveness.medium{
                    display: none;
                }
              
            }

            img{
                height: 100px;
                width: 100px;

                @include responsiveness.small{
                    height: 50px;
                    width: 50px;
                }
                @include responsiveness.medium{
                    height: 80px;
                    width: 80px;
                }
            }
        }


    }

    .right{
       
        flex: 1;
        padding-right: 50px;

        @include responsiveness.small{
            flex : none;
            padding-right: 30px;
        }

        @include responsiveness.medium{
            padding-right: 10px;
        }


    

        img{
            height: 50px;
            width: 50px;
            
        }
       
 
        
        .links{
            display: flex;
            justify-content: space-around;

            @include responsiveness.small{
                display: none;
                justify-content: flex-end;
            }

            @include responsiveness.medium{
                justify-content: space-around;
            }
       
        }

     
       
     
        .menuIcon{
            display: none;

            img{
                height: 30px;
                width: 30px;
            }

            @include responsiveness.small{
                display: block;
                
            }
            
            }
        }
        .cancelIcon{
            display: none;
            
            img{

                height: 30px;
                width: 30px;
                
            }

            &.activate{
                display: block;
                z-index: 999;
                position: absolute;
                justify-content: flex-end;
                top: 60px;
                
                
            }


            

        }
            
     
        

        
  .menu{
        display: flex;
        flex-direction: column;
        gap:60px;
        align-items: center;
        padding-top: 150px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 50%;
        height: calc(100vh + 150px);
        background-color: black;     
         
   
    }

  

}